
<div class="main">
  <div class="index">
  <% @uploads.each do |upload| %>
  <div class="index-item">
    <div class="index-title">
    <p><span class="weight">artist:</span>
      <%= upload.artist %>　　<span class="weight">title:</span>
      <%= upload.title %></p>
    </div>
    <%= upload.comment %>
    <div>

    <%= audio_tag "/file/#{upload.file}",controls:true %>


    </div>
    <div class="index-edit"><span class="under">
    <%= link_to("編集", "/uploads/#{upload.id}/edit") %>
    </span>　<span class="under">
      <%= link_to("削除", "/uploads/#{upload.id}/destroy", {method: "upload"}) %>
    </span></div>
    <br>
  </div>
  <% end %>
  </div>
</div>
